* {
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

#menu-btn {
  width: 10vw; /* Scales with viewport width */
  max-width: 3em;
  min-width: 3em;
  overflow: hidden;
}

#menu-checkbox {
  display: none;
}

#menu-label {
  position: relative;
  display: block;
  height: 2rem; /* Responsive height */
  cursor: pointer;
}

#menu-label:before,
#menu-label:after,
#menu-bar {
  position: absolute;
  left: 0;
  width: 100%;
  height: 0.4rem; /* Scales with font size */
  background-color: #fff;
}

#menu-label:before,
#menu-label:after {
  content: "";
  transition: 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55) left;
}

#menu-label:before {
  top: 0;
}

#menu-label:after {
  top: 40%;
}

#menu-bar {
  top: 80%;
}

#menu-bar:before {
  content: "MENU";
  position: absolute;
  top: 0.5rem;
  right: 0;
  left: 0;
  color: #fff;
  font-size: 1rem;  /*clamp(0.7rem, 2vw, 1rem); Responsive text size */
  font-weight: bold;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  text-align: center;
}

#menu-checkbox:checked + #menu-label:before {
  left: -100%;
}

#menu-checkbox:checked + #menu-label:after {
  left: 100%;
}

#menu-checkbox:checked + #menu-label #menu-bar:before {
  animation: moveUpThenDown 0.8s ease 0.2s forwards;
}

@keyframes moveUpThenDown {
  0% {
    top: -0.5rem;
  }
  50% {
    top: -1.75rem;
  }
  100% {
    top: -1.25rem;
  }
}
